.container {
    overflow: visible;
}

.container > img {
    height: 100%;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
}

.center {
    align-self: center;
    margin: 20%;
    scale: 1.5;
}

.small {
    scale: 0.8;
    cursor: pointer;
}

.left {
    align-self: flex-end;
}

.right {
    align-self: flex-start;
}
