.info-container {
    position: absolute;
    top: 65%;
    left: 80%;
    width: 12%;
    z-index: 3;
    font-family: 'Tungsten';
    font-size: 2.5vh;
    font-weight: lighter;
    margin: 1%;
    color: rgb(255, 255, 255);
    line-height: 2.5vh;
    letter-spacing: 3px;
  }
  
.date {
    text-align: right;
    padding: 8%;
}
