.slide-bar {
  position: absolute;
  display: flex;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.counter {
  color: white;
  font-size: 1.3vh;
  margin: 2%;
  height: 8px;
  overflow: visible;
}

#dot {
    height: 5px;
    width: 3px;
    border-radius: 30%;
    border: 0.7px solid white;
    display: inline-block;
    margin: 1%;
    margin-top: 3.5%;
  }
  
.active {
  background-color: #ffffff;
}
