.slide-bar {
  position: absolute;
  display: flex;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.counter {
  color: white;
  font-size: 0.5vw;
  margin: 0.4vw;
  margin-right: 0.6vw;
  height: 1vw;
  overflow: visible;
}

#dot {
  height: 0.3vw;
  width: 0.1vw;
  border-radius: 30%;
  border: 0.01vw solid white;
  display: inline-block;
  margin: 0.2vw;
  margin-top: 0.55vw;
}

.active {
  background-color: #ffffff;
}
